/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 10px;
  text-align: center;
  color: white;
}
h3{
  margin-top: 15px;
  padding-left: 5px;
  text-align: left;
}
.header{
  width:100%;
  height: 50px;
  background-color: #ff9a4b;
}
.main{
width: 100%;
height: auto;
}

.box-list{
  display: flex;
  justify-content: center;
}
.box{
  background-color:#EEEEEE;
  width: 300px;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
  position: relative;
}
.box-image1{
  width: 280px;
  height: 150px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.box1{
  width: 30px;
  height: 20px;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}
.box-image2{
  width: 280px;
  height: 150px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.box2{
  width: 30px;
  height: 20px;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}

.box-image3{
  width: 280px;
  height: 150px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.box3{
  width: 30px;
  height: 20px;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}
.text{
  margin-top: 5px;
  padding-left: 5px;
  text-align: left;
  color: black;
}
.footer{
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
@media screen and (max-width: 768px) {
  p{
    font-size: 5px;
  }
  .header {
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
  }
  .box-list{
    width: 100%;
    display: block;
  }
  .box{
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
     margin-bottom: 20px;
     margin-top: 0px;
     position: relative;
  }
  .box-image1{
    height: 150px;
    width: 95%;
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
   margin: auto;
  }
  .box-image2{
    height: 150px;
    width: 95%;
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
   margin: auto;
   
  }
  .box-image3{
    height: 150px;
    width: 95%;
    position: relative;
    top: 10px;
    left: 10px;
    right: 10px;
   margin: auto;
    
  }
  .footer{
    width: 100%;
    height: 50px;
    margin-top: 50px;
  }
}